default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres
  password:
  pool: 5
  host: db
development:
  <<: *default
  database: energy_docker_dev
production:
  <<: *default
  database: energy_production